# Build and development directories
devel/
build/
bin/
lib/
msg_gen/
srv_gen/
build_isolated/
devel_isolated/

# Ignore virtual environments
**/venv/

# ROS 2 specific
/ros2_ws/build/
/ros2_ws/install/
/ros2_ws/log/
/ros2_ws_py/build/
/ros2_ws_py/install/
/ros2_ws_py/log/

# ROS message files
msg/*Action*.msg
msg/*Feedback.msg
msg/*Goal.msg
msg/*Result.msg
msg/_*.py

# Dynamic reconfigure files
*.cfgc
/cfg/cpp/
/cfg/*.py

# Generated documentation
*.dox
*.wikidoc

# IDE files
.vscode/
.vscode/settings.json
.project
.cproject
CMakeLists.txt.user
qtcreator-*
*.user

# Emacs backups
.#*

# Catkin custom files
CATKIN_IGNORE

# Planning-related files
/planning/cfg/
/planning/docs/
/planning/src/

# Miscellaneous files
*.pcd
*.pyc
*~
.DS_Store
.gitignore
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing-related files
/coverage

# Node.js dependencies
/node_modules/
/.pnp
.pnp.js

# Production-related files
/build
node_modules/